<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/productos">Productos</a></li>
      <li class="breadcrumb-item active" aria-current="page">pagsec / {{id}}</li>
    </ol>
  </nav>
  <div
    class="row"
    style="background-color: #fff; border-radius: 15px; margin: 15px"
  >
    <div class="col-md-6 col-sm-12 mt-3 mb-3" style="max-width: 30rem">
      <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div
            class="carousel-item"
            *ngFor="
              let image of producto.ImagesProductAsocciations;
              let index = index
            "
            [class.active]="index === 0"
          >
            <a data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal3-'">
              <div>
                <img
                  src="{{ image.ImageProduct.image }}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </a>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
   

    <div class="col-md-6 col-sm-12">
      <h1 class="mt-2 p-2">
        <b>{{ producto.name }}</b>
      </h1>

      <div
        class="pb-5 pt-4 mt-3 mb-2"
        style="background-color: #fff; border-radius: 15px; position: relative"
      >
        <h2 class="fw-bolder" style="display: inline">${{ producto.price * dollar2!}}</h2>
        <div class="mt-5">
          <p class="fst-normal" [innerHTML]="producto.description ">
           
          </p>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" style="margin: 10px">
          <div class="row mb-3">
            <label for="cant" class="form-label mb-0 p-0"
              ><b>Cantidad:</b></label
            >
            <input
              type="number"
              min="1"
              id="cant"
              formControlName="cant"
              class="form-control"
            />
            <span
              *ngIf="
                form.get('cant')?.hasError('required') &&
                form.get('cant')?.touched
              "
              class="mt-1"
              style="background-color: rgb(255, 73, 73); border-radius: 5px"
            >
              El campo cant es <strong>requerido</strong>
            </span>
          </div>
          <div class="row mb-3" *ngIf="options">
            <label class="form-label mb-0 p-0"><b>Categorias</b></label>
            <select
              formControlName="option"
              name="option"
              class="form-control"
              id="option"
            >
              <option value="">Selecciona una opción</option>
              <option
                *ngFor="let product of producto.SubCategoryProducts"
                [value]="product.SubCategory.date"
                
              >
                <h1>{{ product.SubCategory.date }}  Precio: ${{dollar2 * product.SubCategory.price}}</h1>
              </option>
            </select>
            <span
              *ngIf="
                form.get('option')?.hasError('required') &&
                form.get('option')?.touched
              "
              class="mt-1"
              style="background-color: rgb(255, 73, 73); border-radius: 5px"
            >
              El campo option es <strong>requerido</strong>
            </span>
          </div>

          <div class="row" *ngIf="!isRegistered">
            <div
              class="rounded p-2 col"
              style="background-color: #f1ebeb; margin: 10px"
            >
              <h4>
                ¡Para poder hacer compras es necesario que este logueado, por
                favor redirijase <a routerLink="/login">aquí</a>!
              </h4>
            </div>
          </div>
          <div class="col-md-6" *ngIf="isRegistered">
            <button
            [disabled]="form.invalid"
              class="btn text-white"
              style="background-color: var(--color3)"
              type="submit"
              
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-cart"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                />
              </svg>
              Agregar al carrito
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <h4 class="text-center"><b>Productos Recomendados</b></h4>
    </div>
    <div class="row">
      <div
        *ngFor="let productosOption of productosSelect.slice(0, 4)"
        class="col p-2 m-2 rounded options"
        id="center"
      >
        <a
          style="text-decoration: none; color: #000"
          href="/pagsec/{{ productosOption.id }}"
          
        >
          <div class="fotoC" style=" display: flex;
          justify-content: center;
          ">
            <img width="200" src="{{ productosOption.image }}" alt="" />
            
          </div>
          <h5 class="text-center">
            <b >{{ productosOption.name }}</b>
          </h5>
        </a>
      </div>
    </div>
  </div>
</div>
<div
class="modal fade "
[id]="'exampleModal3-'"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog " >
  <div class="modal-content" style="background-color: var(--color1);">
    <div class="modal-body " style="padding: 0" >
      <div id="carouselExampleFadeModal" class="carousel slide carousel-fade" >
        
        <div class="carousel-inner ">
          <div
            class="carousel-item"
            *ngFor="
              let image of producto.ImagesProductAsocciations;
              let index = index
            "
            [class.active]="index === 0"
          >
            <a
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#exampleModal3-'"
            >
              <div>
                <img
                  src="{{ image.ImageProduct.image }}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </a>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFadeModal"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFadeModal"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div><app-alerts></app-alerts>