<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/productos">Productos</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{id}}</li>
    </ol>
  </nav>
  <div class="carrusel-container2 rounded" id="carrusel">
    <div class="carrusel-item2" *ngFor="let category of categories">
      <a href="productos/{{category.id}}"><img height="120" width="120" src="{{ category.image }}" alt="" />
        <p class="text-center">{{category.name}}</p>
      </a>  
    </div>
  </div>
  <div *ngIf="!options">
    <h4 class="text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-plug-fill"
        viewBox="0 0 16 16"
      >
        <path d="M6 0a.5.5 0 0 1 .5.5V3h3V.5a.5.5 0 0 1 1 0V3h1a.5.5 0 0 1 .5.5v3A3.5 3.5 0 0 1 8.5 10c-.002.434-.01.845-.04 1.22-.041.514-.126 1.003-.317 1.424a2.083 2.083 0 0 1-.97 1.028C6.725 13.9 6.169 14 5.5 14c-.998 0-1.61.33-1.974.718A1.922 1.922 0 0 0 3 16H2c0-.616.232-1.367.797-1.968C3.374 13.42 4.261 13 5.5 13c.581 0 .962-.088 1.218-.219.241-.123.4-.3.514-.55.121-.266.193-.621.23-1.09.027-.34.035-.718.037-1.141A3.5 3.5 0 0 1 4 6.5v-3a.5.5 0 0 1 .5-.5h1V.5A.5.5 0 0 1 6 0z"/></svg>
        No existen cursos para esta categoria<svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-plug-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M6 0a.5.5 0 0 1 .5.5V3h3V.5a.5.5 0 0 1 1 0V3h1a.5.5 0 0 1 .5.5v3A3.5 3.5 0 0 1 8.5 10c-.002.434-.01.845-.04 1.22-.041.514-.126 1.003-.317 1.424a2.083 2.083 0 0 1-.97 1.028C6.725 13.9 6.169 14 5.5 14c-.998 0-1.61.33-1.974.718A1.922 1.922 0 0 0 3 16H2c0-.616.232-1.367.797-1.968C3.374 13.42 4.261 13 5.5 13c.581 0 .962-.088 1.218-.219.241-.123.4-.3.514-.55.121-.266.193-.621.23-1.09.027-.34.035-.718.037-1.141A3.5 3.5 0 0 1 4 6.5v-3a.5.5 0 0 1 .5-.5h1V.5A.5.5 0 0 1 6 0z"
        />
      </svg>
    </h4>
  </div>
  <div class="row">
  <div
    class="col m2"
    *ngFor="let producto of category; let index = index"
  >
    <div
      class="card sh"
      style="width: 18rem; margin-left: 15px; border-color: #751c19"
    >
    <a
    href="#arriba"
    style="color: #000000"
    data-bs-toggle="modal"
    [attr.data-bs-target]="'#exampleModal2-' + index"
    
  >
      <div style="position: absolute; right: 10px; z-index: 100;">
       
          
        
      </div>

      <img
        src="{{ producto.image }}"
        class="card-img-top img-dest img-fluid"
        alt="..."
        style="height: 15rem"
      />

      <div class="card-body item-info">
        <h3 class="fs-5">
          <b>{{ producto.name }}</b>
        </h3>
        <h4 class="fs-6" style="text-align: end">${{ producto.price * dollar.price }}</h4>
      </div>
    </a>
    </div>

    <!--
          modal
        -->
        <div
        class="modal fade"
        [id]="'exampleModal2-' + index"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content" style="background-color: var(--color1)">
            <div class="modal-body " style="padding: 0;">
              <img
                src="{{ producto.image }}"
                class="img-dest img-fluid"
                alt="..."
              />
              <h3 class="p-2">
                {{ producto.name }}
              </h3>
              <p class="p-2">
                {{ producto.description }}
              </p>
            </div>
            <div class="modal-footer">
              <button id="center" type="button" class="btn boton"><a style="text-decoration: none; color: #000;" href="/pagsec/{{producto.id}}">Ver más</a></button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
