.ticket{
    background-color: #fff;
    height: auto;
    padding: 10px 10px 0px 20px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 3px 5px rgba(0,0,0,.05);
}
.line{
    border-bottom: dashed 2px #ddd;
}
.ticket::before {
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 15px;
    border: dashed 2px #ddd;
    content: "";
}
.ticket::after {
    content: "";
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
    clip-path: polygon(0 0,5% 100%,10% 0,15% 100%,20% 0,25% 100%,30% 0,35% 100%,40% 0,45% 100%,50% 0,55% 100%,60% 0,65% 100%,70% 0,75% 100%,80% 0,85% 100%,90% 0,95% 100%,100% 0);
    -webkit-clip-path: polygon(0 0,5% 100%,10% 0,15% 100%,20% 0,25% 100%,30% 0,35% 100%,40% 0,45% 100%,50% 0,55% 100%,60% 0,65% 100%,70% 0,75% 100%,80% 0,85% 100%,90% 0,95% 100%,100% 0);
}