<div *ngIf="IsAdmin">
  <button class="btn btn-danger" routerLink="/agregar">agregar</button>
</div>
<div class="row">
  <div
    class="col m2"
    *ngFor="let producto of ListarProducto; let index = index"
  >
  <div *ngIf="IsAdmin">
    
  
    <button class="btn btn-primary" (click)="editar(producto.id)">
      Editar
    </button>
    <button class="btn btn-danger" (click)="eliminar(producto.id)">
      Eliminar
    </button>
  </div>
    <div
      class="card sh"
      style="width: 18rem; margin-left: 15px; border-color: #751c19"
    >
      <div style="position: absolute; right: 10px">
        <a
          href="#arriba"
          style="color: #fff"
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#exampleModal2-' + index"
        >
          <fa-icon [icon]="faInfoCircle"> </fa-icon>
        </a>
      </div>

      <img
        src="{{ producto.imagen }}"
        class="card-img-top img-dest img-fluid"
        alt="..."
        style="height: 20rem"
      />

      <div class="card-body item-info">
        <h3 class="fs-5">
          <b>{{ producto.nombre }}</b>
        </h3>
        <p class="card-text" style="text-align: start">
          {{ producto.descripcion }}
        </p>
        <h4 class="fs-6" style="text-align: end">{{ producto.precio }}</h4>
      </div>
    </div>

    <!--
        modal
      -->
    <div
      class="modal fade"
      [id]="'exampleModal2-' + index"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content" style="background-color: #efa593">
          <div class="">
            <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
              Modal title
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              style="position: absolute; right: 5px; top: 5px"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="{{ producto.imagen }}"
              class="card-img-top img-dest img-fluid"
              alt="..."
            />
            <h3>
              {{ producto.nombre }}
            </h3>
            <p>
              {{ producto.descripcion }}
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
