<div
  style="
    background-image: url(../../../assets/fondos/fondos1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div
    class="container d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div
      class="card"
      style="width: 30rem; border-color: #fff; margin-top: -100px;border: 20px solid var(--color4);"
    >
      <div class="card-body" id="card-body">
        <form [formGroup]="emailForm" (ngSubmit)="getUser()" *ngIf="!finish" >
          <div class="mb-2">
            <label>Email</label>
            <input
              class="form-control"
              formControlName="email"
              name="email"
              type="email"
              placeholder="Escribe tu email"
            />
            <span
              *ngIf="
                emailForm.get('email')?.hasError('required') &&
                emailForm.get('email')?.touched
              "
            >
              El campo email es <strong>requerido</strong>
            </span>
            <span
              *ngIf="
                emailForm.get('email')?.hasError('email') &&
                emailForm.get('email')?.touched
              "
            >
              Por favor, introduce un email válido.
            </span>
          </div>
          <div class="row mb-3 mt-2 text-center">

            <div class="col-lg-6">
              <button
                [disabled]="emailForm.invalid"
                type="submit"
                class="btn boton"
              >
                Aceptar
              </button>
            </div>
          </div>
        </form>
        <div *ngIf="finish">
          <h3>Ya se ha realizado la operación por favor revise su email.</h3>
          <button class="btn boton" routerLink="/login">Volver al login</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-alerts></app-alerts>