<div
  style="
    background-image: url(../../../assets/fondos/fondos1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div
    class="container d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div
      class="card"
      style="width: 30rem; border-color: #fff; margin-top: -100px"
    >
      <div class="card-body" id="card-body">
        <div class="col" *ngIf="validateOK">
          <h1>Ya está registrado</h1>
          <button class="btn boton" routerLink="/login">volver al login</button>
        </div>
        <div class="col" *ngIf="!validateOK">
          <h1>No se pudo registrar</h1>
          <h4>
            Si sigue teniendo problemas pruebe crear un nuevo código
            <a routerLink="/crear-codigo" style="color: #000">aquí</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
