<div
  style="
    background-image: url(../../../assets/fondos/fondos1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div
    class="container d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div
      class="card"
      style="
        width: 30rem;
        border-color: #fff;
        margin-top: -100px;
        border: 20px solid var(--color4);
      "
    >
      <div class="card-body" id="card-body">
        <div class="col" *ngIf="validateOK">
          <h2 class="text-center">
              GRACIAS POR REGISTRARTE
              <br/>
              Tu cuenta fue creada con exito., ya podes comenzar a comprar! <br>
              Gracias por formar parte de nuestra comunidad, te haremos llegar descuentos exclusivos! 🌟​👐
          </h2>
          <button class="btn boton" routerLink="/login">volver al login</button>
        </div>
        <div class="col" *ngIf="!validateOK">
          <h4>
            Algo ha salido mal, intentelo de nuevo o genere un nuevo codigo
            <button
              class="btn boton"
              routerLink="/crear-codigo"
              style="color: #000"
            >
              Aquí
            </button>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
