<div class="row" id="arriba">
  <a
    class="navbar-brand text-white fs-3 p-1"
    href="#"
    style="
      background-color: #fff0f0;
      background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-light.png');
    "
    ><img src="../../../assets/sinfondo.png" style="height: 100px" id="center"
  /></a>
</div>
<div class="row" style="height: 25px; text-align: center">
  <p>si fueras un texto que clase de texto colocarias aquí?</p>
</div>
<div class="row" style="background-color: #fbe4dd">
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary"
    style="background-color: #fbe4dd; padding: 0"
  >
    <div
      class="container-fluid"
      style="

        background-color: #fbe4dd;
        border-top: 1px solid #c1694c;
        box-shadow: 0 1px 2px #c1694c;
      "
    >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse dl-menu-style1"
        id="navbarSupportedContent"
        style="padding: 15px"
      >
        <ul
          class="justify-content-center navbar-nav me-auto mb-2 mx-auto mb-lg-0 text-center et-menu"
        >
          <li class="nav-item" style="padding-left: 1em">
            <a class="nav-link active" aria-current="page" href="#" id="center"
              >Inicio</a
            >
          </li>
          <li class="nav-item" style="padding-left: 1em">
            <a class="nav-link active" aria-current="page" routerLink="/productos" id="center"
              >Productos</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categorias
            </a>
            <ul class="dropdown-menu" style="background-color: #ffcfcf" >
              <li *ngFor="let category of categories">
                <a class="dropdown-item text-center" href="/categorias/{{category.id}}">{{category.name}}</a>
              </li>

            </ul>
          </li>
          <li class="nav-item" style="padding-left: 1em">
            <a class="nav-link" href="#" id="center">Preguntas frecuentes</a>
          </li>
          <li class="nav-item" style="padding-left: 1em">
            <a class="nav-link" routerLink="contacto" id="center">Contacto</a>
          </li>
          <li class="nav-item" style="padding-left: 1em" *ngIf="admin">
            <a class="nav-link" routerLink="/admins" id="center">Administración</a>
          </li>
          <div *ngIf="!register">
            <button
              class="btn"
              style="
                border-color: #c1694c;
                box-shadow: 5px 5px 0 #c1694c;
                margin: 0;
              "
             routerLink="/login"
             
            >
              Iniciar sesion
            </button>
          </div>
          <div class="registroMedia" *ngIf="!register">
            <button
              class="btn"
              style="
                border-color: #c1694c;
                box-shadow: 5px 5px 0 #c1694c;
                margin: 0;
              "
             routerLink="/register"
             
            >
              registrarse
            </button>
          </div>
          <button *ngIf="register" class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      class="bi bi-cart"
      viewBox="0 0 16 16"
    >
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      />
    </svg>
            
          </button>
          
          <div *ngIf="register" >
            <button
              type="submit"
              class="btn"
              style="
              background-color: var(--color1);
                border-color: #c1694c;
                box-shadow: 5px 5px 0 #c1694c;
                margin: 0;
              "
              (click)="logOut()"
            >
              Cerrar Sesion
            </button>
          </div>
          
        </ul>
      </div>
    </div>
  </nav>
</div>
