<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
  style="width: 750px; background-color: var(--color1)"
>
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasRightLabel">Tu carrito</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <hr />
  <div class="offcanvas-body" >
    <div class="row"><h5>Todos tus productos</h5></div>
    <hr />
    <div class="row p-3" *ngFor="let product of products; let index = index">
      <div
        class="row p-2 m-1 mb-3"
        style="
          background-color: #f5efef;
          border-top: 1px solid #dbcaca;
          border-bottom: 1px solid #dbcaca;
        "
      >
        <div class="col-sm-3 col-md-3 col-12">
          <img
            src="{{ product.image }}"
            alt="{{ product.name }}"
            height="90"
            id="center"
          />
        </div>
        <div class="col-sm-7 col-md-7 col-12">
          <h5 class="text-center">
            <u
              ><b>{{ product.name }} </b></u
            ><br />
          </h5>
        </div>
        <div class="col-sm-2 col-md-2 col-12 numberVertBox">
          <p class="numberVert fs-4">${{ product.price }}</p>
        </div>
        <div class="mt-2">
          <input
            class=""
            type="number"
            [(ngModel)]="product.cant"
            (ngModelChange)="updateSubTotal(index)"
            min="1"
          />
        </div>
        <div>
          <hr />
          <p>
            <b>Total: ${{ product.total }}</b>
          </p>
          <hr />
        </div>

        <div>
          <button
            class="btn"
            (click)="delete(index)"
            style="background-color: #dbcaca"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-trash"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
              />
              <path
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
              />
            </svg>
          </button>
        </div>
      </div>
      <hr />
    </div>

    <div>
      <h5>
        <b>Total General: ${{ totalGeneral }}</b>
      </h5>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" />
      <label> Con envio</label>
    </div>
    <div class="row">
      <button class="btn boton m-1">Enviar</button>
    </div>
  </div>
</div>
