<div style="background-image: url(../../../assets/fondos/fondos7.jfif); width: 100%; background-size: cover;
background-position: center;
background-repeat: no-repeat;">


<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh; "

>
  <div
    class="card"
    style="width: 30rem; border-color: #fff; margin-top: -100px"
  >
    <div class="card-body" id="card-body">
      <div class="row">
        <h5 class="card-title text-center">Administracion</h5>
      </div>
      <div class="row">
        <button
        routerLink="/admins/productos"
          class="btn"
          style="
            border-color: #c1694c;
            box-shadow: 5px 5px 0 #c1694c;
            margin: 0;
          "
        >
          Productos
        </button>
      </div>
      <div class="row mt-2">
        <button
        routerLink="/admins/categorias"
          class="btn"
          style="
            border-color: #c1694c;
            box-shadow: 5px 5px 0 #c1694c;
            margin: 0;
          "
        >
          Categorias
        </button>
        
      </div>
      <div class="row mt-2">
        <button
        routerLink="/admins/carrusel"
          class="btn"
          style="
            border-color: #c1694c;
            box-shadow: 5px 5px 0 #c1694c;
            margin: 0;
          "
        >
          Carrusel
        </button>
        
      </div>
    </div>
  </div>
</div>
</div>