<div class="container-fluid">
  <div class="row">
    <app-banners></app-banners>
  </div>
  <div class="row">
    <app-preg-frecuentes></app-preg-frecuentes>
  </div>
  <div class="row">
    <app-productos-destacados></app-productos-destacados>
  </div>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />
  <a href="https://wa.me/5491136801229" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>
  <p style="background-color: #fff;	position:fixed;
	
	bottom:0px;
	right:10px;
  height: 50px;
  width: 10em;
  padding: 0.2em;
  
  "
  class="rounded">Acá estamos para ayudarte</p>


<a href="#arriba" class="float2">
  <fa-icon [icon]="faArrowAltCircleUp" class="posicion"> </fa-icon>
</a>



<app-contactanos></app-contactanos>
</div>
<!--
necesito que cuando se logue el usuario se obtenga el id del usuario,
se registre en el local storage su id para checkear si es admin para dar permisos de edicion de los
productos

-->