<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">

      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  <div class="row">
    <app-banners></app-banners>
  </div>
  <div class="row">
    <app-productos-destacados></app-productos-destacados>
  </div>
  <div class="row" style=" margin-bottom: 150px;">
    <app-preg-frecuentes></app-preg-frecuentes>
  </div>

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />
  <a href="https://wa.me/c/5491162569879" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>
  <p style="background-color: #ffcfcf;	position:fixed;
	
	bottom:0px;
	right:10px;
  height: 50px;
  width: 10em;
  padding: 0.2em;
  
  "
  class="rounded">Acá estamos para ayudarte</p>






<!-- <app-contactanos></app-contactanos> -->
</div>
