<div class="container-fluid">
  <div class="row">
    <app-banners></app-banners>
  </div>
  <div class="row">
    <app-productos-destacados></app-productos-destacados>
  </div>
  <div class="row" style=" margin-bottom: 150px;">
    <app-preg-frecuentes></app-preg-frecuentes>
  </div>

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />
  <a href="https://wa.me/5491136801229" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>
  <p style="background-color: #ffcfcf;	position:fixed;
	
	bottom:0px;
	right:10px;
  height: 50px;
  width: 10em;
  padding: 0.2em;
  
  "
  class="rounded">Acá estamos para ayudarte</p>


<a href="#arriba" class="float2">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up posicion" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
  </svg>
</a>



<!-- <app-contactanos></app-contactanos> -->
</div>
