<div class="container-fluid">
    <div class="row">
      <div
        class="col m2"
        *ngFor="let producto of ListarProducto; let index = index"
      >
        <div
          class="card sh"
          style="width: 18rem; margin-left: 15px; border-color: #751c19"
        >
          <div style="position: absolute; right: 10px; z-index: 10000000000000;">
            <a
              href="#arriba"
              style="color: #fff"
              data-bs-toggle="modal"
              [attr.data-bs-target]="'#exampleModal2-' + index"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            </a>
          </div>
    
          <img
            src="{{ producto.image }}"
            class="card-img-top img-dest img-fluid"
            alt="..."
            style="height: 20rem"
          />
    
          <div class="card-body item-info">
            <h3 class="fs-5">
              <b>{{ producto.name }}</b>
            </h3>
            <p class="card-text" style="text-align: start">
              {{ producto.description }}
            </p>
            <h4 class="fs-6" style="text-align: end">${{ producto.price }}</h4>
          </div>
        </div>
    
        <!--
            modal
          -->
        <div
          class="modal fade"
          [id]="'exampleModal2-' + index"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content" style="background-color: #efa593">
              <div class="">
                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                  Modal title
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  style="position: absolute; right: 5px; top: 5px"
                ></button>
              </div>
              <div class="modal-body">
                <img
                  src="{{ producto.image }}"
                  class="card-img-top img-dest img-fluid"
                  alt="..."
                />
                <h3>
                  {{ producto.name }}
                </h3>
                <p>
                  {{ producto.description }}
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>