<div class="container">
  <div class="row">
    <div class="col">
      <form>
        <label class="form-label">Nombre del producto</label>
        <input
          [(ngModel)]="producto.name"
          type="text"
          class="form-control"
          name="nombre"
        />

        <label class="form-label">Descripcion del producto</label>
        <input
          [(ngModel)]="producto.description"
          type="text"
          class="form-control"
          name="descripcion"
        />
        <label class="form-label">Precio del producto</label>
        <input
          [(ngModel)]="producto.price"
          type="text"
          class="form-control"
          name="precio"
        />
        <label class="form-label">Imagen del producto</label>
        <input
          [(ngModel)]="producto.image"
          type="text"
          class="form-control"
          name="imagen"
        />
        <button (click)="agregar()" class="btn btn-danger">Agregra</button>
      </form>
    </div>
  </div>
</div>
