<div class="row" style="background-color: #fbe4dd" id="pregs">
  <h2 class="text-center">Preguntas Frecuentes</h2>
</div>
<div class="row" style="background-color: #fbe4dd; border-color: #751c19">
  <div
    class="accordion accordion-flush"
    id="accordionFlushExample"
    style="margin-top: 2em; margin-bottom: 2em"
  >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          COMO COMPRAR
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          1. Navega por nuestra web y mira todas las opciones que tenemos <br />

          2. Elegi los productos que quieras y sumalos al carrito <br />

          3. En cada producto podes detallar sabores y cantidades <br />

          4. Una vez hecho el carrito, “continua compra” y se mandara el detalle
          a nuestro whatsapp <br />

          5. Confirmamos fecha y disponibilidad (tambien podes escribirnos
          primero para ver si tenemos lugar) <br />

          6. Una vez cerrado los detalles, se realiza el deposito de la seña
          <br />

          7. En el dia y horario pactado entregamos tu pedido.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          ¿CON CUANTA ANTICIPACION DEBO HACER MI PEDIDO?
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          2 o 3 dias minimo,una semana seria lo ideal, pero siempre depende un
          poco de la disponibilidad que tengamos esa fecha por eso recomendamos
          primero consultar.
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            ¿LOS PRECIOS ESTAN ACTUALIZADOS?
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Si, toda la web, asi como el catalogo de whatsapp cuentan con los
            precios actuales.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            ¿HAY QUE SEÑAR LOS PEDIDOS?
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Si, se pide una seña para confirmar el pedido. <br />
            Una vez señado, el precio final se congela. <br />

            Los valores actuales se mantienen por 15 dias. <br />

            No tomamos pedidos con mas de un mes de anticipacion.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            ¿RELIZAN ENVIOS?
          </button>
        </h2>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Si, realizamos entregas a domicilio con costo adicional, si nos
            pasan su ubicacion aproximada, les cotizamos el envio.
            <br />

            Tambien se pueden retirar los pedidos por nuestro domicilio. <br />

            (villa astolfi, pilar)
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            ¿REALIZAN PRODUCTOS SIN TACC, VEGANOS O VEGETARIANOS?
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Productos veganos y vegetarianos de lunch si es posible, se pueden
            adaptar a las necesidades o gustos del cliente.
            <br />
             Pasteleria vegana no realizamos por el momento. <br />

             Sin Tacc NO REALIZAMOS por motivos de contaminacion cruzada, no
            contamos con el lugar adecuado para ese tipo de productos.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            ¿ESTARA TERMINADA ESTA WEB ESTE AÑO?
          </button>
        </h2>
        <div
          id="flush-collapseSix"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Pronto lo sabremos, la fe no se pierde pregunta de relleno por el
            lugar, luego pienso cual seria
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
