<div class="row" style="background-color: #efa593;">
    <div class="col-md">
        
        <div class="img-logo2">
            <img src="../../../assets/sinfondo.png" class="Logo2 img-fluid" id="center">
        </div>
        <div>
            <h2 class="text-center text-white" id="Contacto">PASTELERIA Y ALGO MÁS</h2>
        </div>

    </div>
    <div class="col-md">
        <div class="redes" id="center">

            <div class="insta text-white" id="center">
                
                    <img src="../../../assets/insta.png" class="logitos" id="center">
                    <h5 class="text-white"><b>INSTAGRAM</b></h5>
                    <a href="https://www.instagram.com/ladulcetradicionpilar" target="_blank" style="text-decoration: none; color: #fbe4dd;">
                    <h5 class="enlaces">@ladulcetradicionpilar</h5>
                    
                </a>
            </div>
            <div class="whatsapp" id="center">
                
                    <img src="../../../assets/whatsapp.png" class="logitos2" id="center">
                    <h5 class="text-white"><b>WHATSAPP</b></h5>
                    <a href="https://wa.me/5491136801229" target="_blank" style="text-decoration: none;color: #fbe4dd;">
                    <h5 class="enlaces">11-3680-1229</h5>
                </a>
            </div>
            <div class="ubicacion " id="center">
                
                    <img src="../../../assets/ubicacion.png" class="logitos3" id="center">
                    <h5 class="text-white"><b>UBICACION</b></h5>
                    <a href="https://maps.app.goo.gl/EkLQKnRwZZtA6EMXA" target="_blank" style="text-decoration: none;color: #fbe4dd;">
                    <h5 class="blocka enlaces">PILAR,BUENOS AIRES, ARGENTINA</h5>
                </a>
            </div>
        </div>
    </div>
</div>