<div
  style="
    background-image: url(../../../assets/fondos/fondos7.jfif);
    filter: opacity(75%);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div
    class="container d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div
      class="card margintop"
      style="width: 100rem; border-color: #fff; margin-top: 100px"
    >
      <div class="card-body" id="card-body">
        <div class="row" style="background-color: #efa593">
          <div class="col-md">
            <div class="img-logo2">
              <img
                src="../../../assets/sinfondo.png"
                class="Logo2 img-fluid"
                id="center"
              />
            </div>
            <div>
              <h2 class="text-center text-white" id="Contacto">
                PASTELERIA Y ALGO MÁS
              </h2>
            </div>

            <div class="redes" id="center">
              <div class="insta text-white" id="center">
                <img
                  src="../../../assets/insta.png"
                  class="logitos"
                  id="center"
                />
                <h5 class="text-white"><b>INSTAGRAM</b></h5>
                <a
                  href="https://www.instagram.com/ladulcetradicionpilar"
                  target="_blank"
                  style="text-decoration: none; color: #fbe4dd"
                >
                  <h5 class="enlaces">@ladulcetradicionpilar</h5>
                </a>
              </div>
              <div class="whatsapp" id="center">
                <img
                  src="../../../assets/whatsapp.png"
                  class="logitos2"
                  id="center"
                />
                <h5 class="text-white"><b>WHATSAPP</b></h5>
                <a
                  href="https://wa.me/5491136801229"
                  target="_blank"
                  style="text-decoration: none; color: #fbe4dd"
                >
                  <h5 class="enlaces">11-3680-1229</h5>
                </a>
              </div>
              <div class="ubicacion" id="center">
                <img
                  src="../../../assets/ubicacion.png"
                  class="logitos3"
                  id="center"
                />
                <h5 class="text-white"><b>UBICACION</b></h5>
                <a
                  href="https://maps.app.goo.gl/EkLQKnRwZZtA6EMXA"
                  target="_blank"
                  style="text-decoration: none; color: #fbe4dd"
                >
                  <h5 class="blocka enlaces">PILAR,BUENOS AIRES, ARGENTINA</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="m-3">
              <h5><b>
                Hola! ¿Estas buscando hacer un evento en especial? o te
                comunicas de parte de una empresa. <br />

                Dejanos tu consulta con el tipo de comida que buscabas
                (lunch-dulce-salado-con servicio),Fecha y Cantidad de invitados.
                <br />

                A la brevedad te estamos pasando un presupuesto personalizado!
                <br />

                Saludos, Flor!</b>
              </h5>
            </div>
            <form
              [formGroup]="form"
              (ngSubmit)="sendContact()"
              style="margin-top: 5rem"
            >
              <div class="mb-2 form-floating">
                
                <textarea
                  class="form-control"
                  formControlName="consulta"
                  type="text"
                  placeholder="Leave a comment here" 
                  id="floatingTextarea"
                  style="height: 200px"
                ></textarea>
                <label for="floatingTextarea">Escriba su consulta </label>
                <span
                  *ngIf="
                    form.get('consulta')?.hasError('required') &&
                    form.get('consulta')?.touched
                  "
                >
                  El campo consulta es <strong>requerido</strong>
                </span>
                
              </div>
              <div class="row" *ngIf="!isRegistered">
                <div class="rounded p-2 col" style="background-color: #f1ebeb; margin: 10px;">
                  <h4>¡Para poder hacer compras es necesario que este logueado, por favor redirijase <a routerLink="/login">aquí</a>!</h4>
    
                </div>
              </div>

              <div class="row mt-3" style="background-color: var(--color2)" *ngIf="isRegistered">
                <button
                  [disabled]="form.invalid"
                  class="submit text-white btn"
                  type="submit"
                >
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
