
<div style="background-image: url(../../../assets/fondos/fondos1.jpg);  background-size: cover;
background-position: center;
background-repeat: no-repeat;">

<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div
    class="card"
    style="width: 30rem; border-color: #fff; margin-top: -100px;  border: 20px solid var(--color4); border: 20px solid var(--color4);"
  >
    <div class="card-body" id="card-body">
           <div class="row">
        <h5 class="card-title">Recuperar</h5>
      </div>
      <form [formGroup]="form" (ngSubmit)="recuperar()">
        <div class="mb-2">
          <label>Email</label>
          <input
            class="form-control"
            formControlName="email"
            name="email"
            type="email"
            placeholder="Escribe tu email"
          />
          <span
            *ngIf="
              form.get('email')?.hasError('required') &&
              form.get('email')?.touched
            "
          >
            El campo email es <strong>requerido</strong>
          </span>
          <span
            *ngIf="
              form.get('email')?.hasError('email') && form.get('email')?.touched
            "
          >
            Por favor, introduce un email válido.
          </span>
        </div>
        

        <div class="row mt-3" style="background-color: var(--color2)">
          <button
            [disabled]="form.invalid"
            class="submit text-white btn"
            type="submit"
          >
            Recuperar
          </button>
        </div>
      </form>
    </div>
    <h5 class="text-center">
      Si no tiene una cuenta puede crearse una desde aqui
      <a href="register">aqui</a>
    </h5>
  </div>
</div>
</div>

<app-alerts></app-alerts>